@media (min-width: 768px) and (max-width: 992px) {
  
    /* hero section design  */
    .here-company-overview{
        width: 90%;
        margin: 0 auto;
    }
    .here-company-overview-top img {
        width: 100%;
        height: 100%;
    }
    
    .here-company-overview-bottom {
    
        position: absolute;
        bottom: 20px;
        right: 16%;
    }
    
    .here-company-overview-bottom img {
        width: 76px;
        height: 169%;
    }
    
   /* social-item-container design  */
.social-item-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0px 30px;
    margin: 30px 0;
    justify-content: center;
}
.social-item-container img{
    width: 100%;
    height: 100%;
}

/* feature-section design */
.feature-section-top{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.feature-section-top-primary-feature{
    
    font-size: 18px;
    

}

.feature-section-top-pra{
    
    font-size: 12px;
    
}


.feature-section-bottom-com{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.feature-section-bottom-com img{
    padding-top: 20px;
}

.feature-section-bottom-com p{
  
    font-size: 12px;
   
}


/* statistic-section */
.statistic{
    background-color: rgba(248, 250, 252, 1);
    padding: 50px 0;
    margin: 50px 0;
}
.statistic-section{
    
    width: 80%;
    
}
.statistic-section-top h2{
    
    font-size: 18px;
    

}
.statistic-section-top p{ 
   
   font-size: 12px;
    
}

.statistic-section-bottom{
    display: flex;
    justify-content: space-between;
}
.statistic-section-bottom-com{
    text-align: center;
    width: 25%;
    padding: 20px;
}
.statistic-section-bottom-com-border{
    border-right: 2px solid rgba(203, 213, 225, 1);
}


/* fature section 2  */

.feature-section2-top{
    width: 90%;
    padding: 20px;
}
.feature-section2-top h2{
   
    font-size: 18px;
   
    padding: 0px 0;
}
.feature-section2-top p{
 
    font-size: 13px;
    padding: 0px 0;
}

.feature-section2-bottom{
    
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.feature-section2-bottom-left{
    
    flex-direction: column;
    gap: 50px;
    width: 90%;
}



.feature-section2-bottom-right{
    width: 80%;
}
.feature-section2-bottom-right-img{
    width: 100%;
    height: 100%;
}


/* Testimonials section  */
.testimonials-section{
    padding: 50px 10px;
    background-color: rgba(248, 250, 252, 1);
}
.testimonials-top{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.testimonials-top h2{
    font-weight: 800;
    font-size: 18px;
   padding: 5px 0;
}
.testimonials-top p{
  font-size: 12px;

}

.testimonials-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.testimonials-bottom-com{
    width: 45%;
}


.testimonials-bottom-com-taxt{
 
    font-size: 12px;
    
}
.testimonials-bottom-com-user-dtl p{
    font-size: 12px;
}


/* contact section design  */
.contact-section{
    background-color: rgba(255, 255, 255, 1);
    padding: 50px;
}
.contact-section-top h2{
   
    font-size: 24px;
  
    padding: 6px;

}
.contact-section-top p{
    font-size: 12px;
    
    padding: 2px;
}

.contact-section-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    gap: 30px;
}

.contact-section-bottom-comm{
    padding: 20px;
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 10px;
    width: 46%;
    background-color: rgba(226, 232, 240, 1);

}
.contact-section-bottom-comm i{
    
    font-size: 18px;
}
.contact-section-bottom-comm h2{
   
    font-size: 20px;
   
}
.contact-section-bottom-comm p{
  
    font-size: 12px;
    
}




/* FAQ section  */
.faq-section{
    background-color: rgba(248, 250, 252, 1);
}
.faq-wrap{
    width: 90%;
    margin: 0 auto;
    
}
.faq-section-top{
    text-align: center;

}
.faq-section-top h2{
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -1.4%;
    padding: 15px;
    color: rgba(30, 41, 59, 1);
}
.faq-section-top p{
    padding-bottom: 10px;
 font-size: 18px;
 line-height: 160%;
 font-weight: 400;
 color: rgba(71, 85, 105, 1);
}

.faq-section-bottom{
   padding: 20px 0;
}
.faq-section-bottom-com{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.faq-section-bottom-com i{
    font-size: 18px;
    color: rgba(148, 163, 184, 1);
}
.faq-section-bottom-com-inner-div{
    display: flex;
    gap: 10px;
    width: 80%;
    align-items: center;
}

.faq-section-bottom-com-inner-div h4{
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: rgba(51, 65, 85, 1);
    letter-spacing: -0.8%;
}
.faq-section-bottom-com-inner-div i{
    font-size: 20px;
    color: rgba(30, 41, 59, 1);
}

/* faq-section-bottom-com-div */
.faq-section-bottom-com-div{
    
    padding-bottom: 10px;
    margin-top: 12px;
    border-bottom: 1px solid rgba(203, 213, 225, 1);

}
.faq-section-bottom-com-div p{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 6px;
    width: 96%;
}



    /* report section  */
    .report-section{
        background-color: rgba(238, 242, 255, 1);
        /* overflow: hidden; */
        
    }
    .report-section-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
       
    }
    .report-section-left{
        width: 80%;
    }
    .report-section-right{
        width: 100%;
     
        display: flex;
        
    }
    
    .report-section-left h2{
      font-weight: 800;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: -1.5%;
      color: rgba(30, 41, 59, 1);
    }
    .report-section-left p{
      
        font-size: 12px;
        
    }
    
    .report-section-left-inner{
    
        flex-direction: column;
       padding-bottom: 30px;
       
    }
    .report-section-left-inner button{
        width: 100%;
    }
    
    .report-section-right-img1{
        width: 100%;
        height: 100%;
    }
    
    .report-section-right-img2{
        width: 100%;
        height: 100%;
    
    }
    .report-section-right1{
       margin-top: 100px;
    }
    .report-section-right2{
        position: relative;
       margin-bottom: 120px;
       right: 30px;
        
    }

    /* footer design  */
    .footer-top{
    
        /* flex-direction: column; */
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        padding: 20px 0;
        margin-top: 10px;
        
    }
    .footer-top-com{
        width: 40%;
        /* margin: 0 auto; */
    }

    
.footer-bottom{

    flex-direction: column;
    gap: 20px;
}
    

}